.form {
  display: inline-block;
  width: 100%;
  color: black;
}
.form > .form-row {
  display: inline-block;
  width: 100%;
  margin-bottom: 30px;
}

.form > .form-row:last-of-type {
  margin-bottom: 0px;
}

.form > .form-row > label {
  display: inline-block;
  width: 100%;
  margin-bottom: 5px;
}

.form > .form-row > input {
  display: inline-block;
  width: 100%;
  font-size: 20px;
  line-height: 20px;
  border: none;
  border-bottom: 2px solid rgb(206, 128, 128);
}

.form > .form-row > input:focus {
  outline: dotted #999;
}

.form input::placeholder {
  color: #999;
  font-style: italic;
  font-size: 10px;
}
