body,
body * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  vertical-align: top;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: violet;
}

main {
  display: inline-block;
  width: 800px;
  margin-top: 100px;
  margin-left: calc(50% - 400px);
}

main > div:first-child {
  display: inline-block;
  width: 40%;
  float: left;
  padding: 40px;
  background-color: chocolate;
}
main > div:last-child {
  display: inline-block;
  padding: 60px;
  width: 60%;
  float: left;
  background-color: #fff;
}
